<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The blah</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/jquery-1.12.4.js"></script>
</head>
<body>
  <div style="height:100%; padding: 10% 30%">
     <button type="button" onclick="window.location.href='/user_login'" class="btn btn-primary">用户</button>
     <button type="button" onclick="window.location.href='/emp_login'" class="btn btn-primary">员工</button>
     <button type="button" onclick="window.location.href='/manager_main'" class="btn btn-primary">管理员</button>
  </div>
</body>
</html>

