<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The blah</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/jquery-1.12.4.js"></script>
</head>
<body>
  <div style="height:100%; padding: 10% 30%">
    <button type="button" onclick="window.location.href='/stu_login'" class="btn btn-primary">学生</button>
    <button type="button" onclick="window.location.href='/teacher_login'" class="btn btn-primary">老师</button>
    <button type="button" onclick="window.location.href='/instructor_login'" class="btn btn-primary">辅导员</button>
    <button type="button" onclick="window.location.href='/jwc_index'" class="btn btn-primary">教务处</button>
  </div>
  <img src="static/img/test2.jpg">
</body>
</html>

