<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The blah</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/jquery-1.12.4.js"></script>
</head>
<body>
  <div style="height:100%; padding: 10% 30%">
    <li>niahoya</li>
  </div>
    <div class="container">
        <table class="table table-hover">
                <tr>
                	<td>奖学金部分得分：{{scholarship.score}}</td>
                	<td>奖学金部分排名：{{scholarship.rank}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
