{% extends "student/stu_header.html" %}
{% block context %}
    <div class="page_header">
        <h3 align="center">卖家评价</h3>
    </div>
    <div class="container">
        <table class="table table-hover">
            <form action="/stu_buyer_comment/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="order_id">购买序列号</label>
                    <select type="int" class="form-control" name="order_id" id="order_id"  placeholder="请选择购买序列号">
                        <option>请选择购买序列号</option>
                        {%for buyer in buyers%}
                        <option>{{buyer.order_id}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <label for="score">分数</label>
                    <input type="int" name="score" class="form-control" id="score" placeholder="请输入分数">
                </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
        </table>
    </div>
{% endblock context %}