{% extends "student/stu_header.html" %}
{% block context %}
    <div class="container">
        <table class="table table-hover">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/stu_products'">商品发布</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/stu_buyer_comment'">买方评价</button>
            <tr>
                <th scope="col">商品编号</th>
                <th scope="col">商品价格</th>
                <th scope="col">确认</th>

            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.product_id }}</td>
                    <td>{{ product.price }}</td>
                    {% if product.received == 0 %}
                        <td><button type="submit" class="btn btn-primary" onclick="window.location.href='/received_products?product_id={{ product.product_id }}'">确认收货</button></td>
                    {% else %}
                        <td><button type="button" class="btn btn-default" disabled="disabled">已经收货</button></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock context %}