{% extends "student/stu_header.html" %}
{% block context %}

    <div class="container">
        <table class="table table-hover">
            <h3 align="center">课程表</h3>
            </thead>
            <tbody>
                <tr>
                    <td>我的名字：{{ name }}</td>
                    <td>{{ grade }}年级</td>
                    <td>卡内余额:{{money}}</td>
                </tr>
                <tr>
                	<td>奖学金部分得分：{{scholarship.score}}</td>
                	<td>奖学金部分排名：{{scholarship.rank}}</td>
                </tr>
                <tr>
                	<td>校内绩点部分得分：{{gpa.score}}</td>
                	<td>校内绩点部分排名：{{gpa.rank}}</td>
                </tr>
                <tr>
                	<td>校内活动部分得分：{{paper.score}}</td>
                	<td>校内活动部分排名：{{paper.rank}}</td>
                </tr>
                <tr>
                	<td>校外工作得分：{{job.score}}</td>
                	<td>校外工作排名：{{job.rank}}</td>
                </tr>
                <tr>
                	<td>违纪部分得分：{{cheat.score}}</td>
                	<td>违纪部分排名：{{cheat.rank}}</td>
                </tr>
                <tr>
                	<td>二手商品部分得分：{{c.score}}</td>
                	<td>二手商品部分排名：{{c.rank}}</td>
                </tr>
                <tr>
                	<td>技能部分得分：{{credit.score}}</td>
                	<td>技能部分排名：{{credit.rank}}</td>
                </tr>
                <tr>
                	<td>违纪部分得分：{{penalty.score}}</td>
                	<td>违纪部分排名：{{penalty.rank}}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock context %}