{% extends "student/stu_header.html" %}
{% block context %}
    <div class="container">
        <table class="table table-hover">
            <tr>
                <th scope="col">编号</th>
                <th scope="col">价格</th>
                <th scope="col">状态</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.book_id }}</td>
                    <td>{{ book.price }}</td>
                    <td><button>丢失</button></td>
                </tr>
            {% endfor %}
            </tbody>
            <button type="button" onclick="window.location.href='/stu_library_borrow'">借书</button>
        </table>
    </div>
{% endblock context %}