{% extends "student/stu_header.html" %}
{% block context %}
    <div class="container">
        <table class="table table-hover">
            <tr>
                <th scope="col">课程名称</th>
                <th scope="col">教师编号</th>
                <th scope="col">上课时间</th>
                <th scope="col">选择</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    {% if course.course_id not in stu_list %}
                    <td>{{ course.course_id }}</td>
                    <td>{{ course.teacher_id }}</td>
                    <td>{{ course.time }}</td>
                    <td><button type="submit" class="btn btn-primary" onclick="window.location.href='/stu_choose_order?teacher_choice_id={{ course.teacher_choice_id }}'">选择</button></td>
                </tr>
                <tr>
                    {% else %}
                    <td>{{ course.course_id }}</td>
                    <td>{{ course.teacher_id }}</td>
                    <td>{{ course.time }}</td>
                    <td><button type="submit" class="btn btn-danger" onclick="window.location.href='/stu_delete_order?teacher_choice_id={{ course.teacher_choice_id }}'">取消</button></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock context %}