<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  

    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="menu">
    <ul style="margin-left: 20px,margin-top:10px">
        <li style="font-size: 16px, margin: 0 0 0 10px" onclick="window.location.href='/stu_index'">学生|系统</li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            二手商品
        </a>
        <ul class="dropdown-menu" style="background-color:white; min-width:80px">
            <li><a href="/stu_products" style="color:black">商品出售</a></li>
            <li><a href="/stu_pro_purchase" style="color:black">商品购买</a></li>
            <li><a href="/stu_cart" style="color:black">收货确认</a></li>
            <li class="divider" style="color:blue"></li>
            <li><a href="/stu_seller_comment" style="color:black">卖方评价</a></li>
            <li><a href="/stu_buyer_comment" style="color:black">买方评价</a></li>
        </ul>
        </li>
        <li style="margin: 0 0 0 10px"><a href="/stu_choose_course">选课</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            图书馆
            </a>
        <ul class="dropdown-menu" style="background-color:white; min-width:80px">
            <li><a href="/stu_library_borrow" style="color:black">借阅</a></li>
            <li><a href="/stu_book_lost" style="color:black">丢书</a></li>
        </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            个人申请
            </a>
        <ul class="dropdown-menu" style="background-color:white; min-width:60px">
            <li><a href="/stu_skills_order" style="color:black">技能认证</a></li>
            <li><a href="/stu_job_certification" style="color:black">工作认证</a></li>
            <li><a href="/stu_scholarship" style="color:black">奖学金申请</a></li>
            <li><a href="/stu_sp_certification" style="color:black">校内工作&论文发表</a></li>
        </ul>
        </li>
        <li style="margin: 0 0 0 10px"><a href="/stu_pay_penalty">缴纳罚款</a></li>
        <li style="margin: 0 0 0 10px"><a href="/stu_course">课程表</a></li>
    </ul>
    <ul style="float: right">
        <li><a href="">欢迎：{{ request.session.stu_name }}</a></li>
        <li style="font-size: 16px" onclick="window.location.href='/index/'">退出</a></li>
    </ul>
</div>
    {% block context %}
        添加内容
    {% endblock context %}
</body>
</html>