<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery-1.12.4.js"></script>
</head>
<body>
<div class="menu">
    <ul style="margin-left: 20px,margin-top:10px">
        <li style="font-size: 16px, margin: 0 0 0 10px" onclick="window.location.href='/stu_index'">学生|系统</li>
        <li style="margin: 0 0 0 10px"><a href="/stu_pro_prochase">二手商品</a></li>
        <li style="margin: 0 0 0 10px"><a href="/stu_choose_course">选课</a></li>
        <li style="margin: 0 0 0 10px"><a href="/stu_library_borrow">图书馆</a></li>
        <li style="margin: 0 0 0 10px"><a href="/stu_skills_order">技能认证</a></li>
        <li style="margin: 0 0 0 10px"><a href="/stu_sp_certification">加分项</a></li>
        <li style="margin: 0 0 0 10px"><a href="">课程表</a></li>
    </ul>
    <ul style="float: right">
        <li><a href="">已在  登录</a></li>
        <li style="font-size: 16px" onclick="window.location.href='/stu_index'">退出</a></li>
    </ul>
</div>
    {% block context %}
        添加内容
    {% endblock context %}
</body>
</html>