{% extends "instructor/instructor_header.html" %}
{% block context %}
    <div class="page_header">
        <h3 align="center">工作申请</h3>
    </div>
    <div class="container">
        <table class="table table-hover">
            <tr>
                <th scope="col">工作性质</th>
                <th scope="col">工作时常</th>
                <th scope="col">学生编号</th>
                <th scope="col">确认</th>
            </tr>
            <tbody>
            {% for job in jobs %}
                {% if job.status == 0 %}
                <tr>
                    <td>{{ job.job_name }}</td>
                    <td>{{ job.days }}</td>
                    <td>{{ job.stu_id }}</td>
                    <td><button class="btn btn-primary" onclick="window.location.href='/job_review?job_id={{ job.job_id }}'">确认</button></td>
                </tr>
                {% endif %}
            {% empty %}
                <div class="alert alert-info" role="alert">
                    <strong>抱歉</strong>
                    暂时没有需要通过的校外工作申请
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock context %}
