{% extends "instructor/instructor_header.html" %}
{% block context %}
    <div class="page_header">
        <h3 align="center">校内工作申请</h3>
    </div>
    <div class="container">
        <table class="table table-hover">
            <tr>
                <th scope="col">学号</th>
                <th scope="col">编号</th>
                <th scope="col">申请内容</th>
                <th scope="col">个人陈述</th>
                <th scope="col">确认</th>
            </tr>
            </thead>
            <tbody>
            {% for rule in rules %}
                <tr>
                    <td>{{ rule.stu_id }}</td>
                    <td>{{ rule.rule_id }}</td>
                    <td>{{ rule.rule_name }}</td>
                    <td>{{ rule.comment }}</td>
                    <td><button class="btn btn-primary" onclick="window.location.href='/add_review?add_id={{ rule.add_id }}'">确认</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock context %}