{% extends "instructor/instructor_header.html" %}
{% block context %}
    <div class="page_header">
        <h3 align="center">商品认证</h3>
    </div>
    <div class="container">
        <table class="table table-hover">
            <tr>
                <th scope="col">发布学生</th>
                <th scope="col">商品名称</th>
                <th scope="col">交易地点</th>
                <th scope="col">确认</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.seller_id }}</td>
                    <td>{{ product.pro_name }}</td>
                    <td>{{ product.location }}</td>
                    <td><button class="btn btn-primary" onclick="window.location.href='/pro_review?pro_id={{ product.pro_id }}'">确认</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock context %}