{% extends "instructor/instructor_header.html" %}
{% block context %}
    <div class="container">
        <table class="table table-hover">
            <tr>
                <th scope="col">申请学生</th>
                <th scope="col">学生姓名</th>
                <th scope="col">申请编号</th>
                <th scope="col">申请内容</th>
                <th scope="col">确认</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.stu_id }}</td>
                    <td>{{ student.student.stu_name }}</td>
                    <td>{{ student.rule_id }}</td>
                    <td>{{ student.rules.rule_name }}</td>
                    <td><button>确认</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock context %}