{% extends "teacher/teacher_header.html" %}
{% block context %}
    <div class="page_header">
        <h3 align="center">逾期申请批准</h3>
    </div>
    <div class="container">
        <table class="table table-hover">
            <tr>
                <th scope="col">学生申诉编号</th>
                <th scope="col">申请</th>
            </tr>
            </thead>
            <tbody>
            {% for pen in pens %}
                <tr>
                    <td>{{ pen.stu_pen_id }}</td>
                    <td><button class="btn btn-primary" onclick="window.location.href='/pen_review?pen_id={{ pen.pen_appeal_id }}'">确认</button></td>
                </tr>
            {% empty %}
                <div class="alert alert-info" role="alert">
                    <strong>抱歉</strong>
                    暂时没有需要通过的申诉 
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock context %}