<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery-1.12.4.js"></script>
</head>
<body>
    <div class="menu">

    <ul style="margin-left: 20px;margin-top:10px">
        <li style="font-size: 16px" onclick="window.location.href='/emp_main'">学生|系统</li>
           <li><a href="">教超</a></li>
        <li><a href="">选课</a></li>
        <li><a href="">图书馆</a></li>
        <li><a href="">室友评价</a></li>
        <li><a href="">技能认证</a></li>
        <li><a href="">加分项</a></li>
        <li><a href="">课程表&考试安排</a></li>

    </ul>
    <ul style="float: right">
        <li><a href="">已在登录</a></li>
        <li style="font-size: 16px" onclick="window.location.href='/index'">退出</a></li>
    </ul>
</div>
    {% block context %}
        添加内容
    {% endblock context %}
</body>
</html>