{% extends "jwc/jwc_header.html" %}
{% block context %}
    <script>
        let showAlert = {{ show_alert }}
        if(showAlert === 'true'){}
            alert("添加成功！")
    </script>
    <div class="container">
        <form action="/add_service_reservation/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">学生姓名</label>
                <input type="text" class="form-control" name="username" id="username">
            </div>
            <div class="form-group">
                <label for="major">专业</label>
                <input type="text" class="form-control" name="major" id="major">
            </div>
            <div class="form-group">
                <label for="year">入学年份</label>
                <input type="text" class="form-control" name="year" id="year">
            </div>
            <button type="submit" class="btn btn-primary">确定</button>
            
        </form>
    </div>



{% endblock context %}