<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>stu_login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery-1.12.4.js"></script>
</head>
<body>
    <div style="height:100%; padding: 10% 30%">
        <form action="/stu_login/" method="post">
            {% csrf_token %}
          <div class="form-group">
            <label for="stu_id">学号</label>
            <input type="text" class="form-control" name="stu_id" id="stu_id"  placeholder="请输入用户名">
          </div>
          <div class="form-group">
            <label for="stu_pwd">密码</label>
            <input type="password" name="stu_pwd" class="form-control" id="stu_pwd" placeholder="请输入密码">
          </div>
          <button type="button" class="btn btn-primary" onclick="window.location.href='/stu_index'">登录</button>
          <button type="button" onclick="window.location.href='/stu_login'" class="btn btn-primary">注册</button>
        </form>
    </div>
</body>
</html>

